
<div class="container-fluid settings">

  <div class="col-9 text-left align-self-top nopadding action-bar">

    <button mat-icon-button type="button" (click)="onToggleMenu()" class="nomargin">

      <mat-icon>menu</mat-icon>

    </button>

    <p class="link navbar-brand nopadding-bottom" *ngIf="!isMobile">{{'STAT.SHOW-HIDE' | translate}}
    </p>

    <p class="navbar-brand nomargin nopadding" *ngIf="isMobile"> "{{categoryName}}"</p>

  </div>
  <div class="col-3 text-right align-self-top nopadding action-bar">

    <div class="action-bar-item">

      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu">

        <p class="text-center padding-25 account">
          {{user.username}}
        </p>


        <button mat-menu-item >
          <mat-icon>settings</mat-icon>
          <span>{{'COMMON.SETTINGS' | translate}}</span>
        </button>

        <button mat-menu-item *ngIf="!isMobile" class="header-icon">
          <mat-icon>help</mat-icon>
          <span>{{'COMMON.HELP' | translate}}</span>
        </button>

        <button mat-menu-item (click)="logout()">
          <mat-icon>login</mat-icon>
          <span>{{'COMMON.EXIT' | translate}}</span>
        </button>
      </mat-menu>
    </div>
  </div>
</div>


